@model student_list.Models.Student;
@{
	ViewData["Title"] = "Delete";
}
<header class="text-center">
	<h3>Do you want to delete this student record permanently?</h3>
</header>
	<div class="container">
		<p class="mb-3"><strong>Name:</strong> @Model.Name</p>
		<p class="mb-3"><strong>Program:</strong> @Model.Program</p>
		<p class="mb-3"><strong>Year:</strong> @Model.Year</p>
		<p class="mb-3"><strong>Section:</strong> @Model.Section</p>
		<p class="mb-3"><strong>Section:</strong> @Model.Status</p>
		<p class="mb-3"><strong>School:</strong> @Model.School</p>
		<p class="mb-3"><strong>Age:</strong> @Model.Age</p>
		<p class="mb-3"><strong>Gender:</strong> @Model.Gender</p>
		<p class="mb-3"><strong>Email:</strong> @Model.Email</p>
		<p class="mb-3"><strong>Phone:</strong> @Model.Phone</p>
		<p class="mb-3"><strong>Address:</strong> @Model.Address</p>

		<form method="post" asp-action="DeletePermanently">
			<input type="hidden" asp-for="Id"/>
			<button type="submit" class="btn btn-danger">Delete</button>
		</form>
</div>